#side-item-info{
    height: auto;
    width: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    transition: 0.3s;
    opacity: 0;
    background: white;
    border-radius: 20px;
}

.tooltip{
    left: -20px;
    font-size: 10pt;
    line-height: 15px;

}
.block{
    width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 130px auto auto;
    grid-gap: 8px;
    grid-auto-rows: minmax(30px, auto);
    justify-items: start;
}
.block .item{
    margin:0;
    grid-column: 1;
    grid-row: auto;
    justify-self: end;
}

.line{
    width: 425px;
    float: left;

}
.line p{
    padding-left: 20px;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 15px;
}
.block .id{
    float: left;
    border-radius: 130px;
}

.block .id p{
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: white;
    border: 0;
}

.articlelink{
    position: fixed;
    bottom: 125px;
    left: 30px;
    background-color: #00bfa5;
    border: none;
    width: 70px;
    height: 70px;
    padding: 10px -1px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.articlelink:hover{
    cursor: pointer;
    width: 250px;
    transition: 0.2s;
    text-decoration: none;

}

.articlelink p{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 0;
    line-height: 70px;
    text-decoration: none;
    text-underline: none;
    font-size: 30pt;
}

.articlelink:hover p:after{
    visibility: visible;
    content: 'Ð¡Ð¿Ð¸ÑÐ¾Ðº Ñ‚ÐµÐºÑÑ‚Ð¾Ð²';
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.articlelink:hover p{
    font-size: 12pt;
    visibility: hidden;
}


