.search-container{
    width:inherit;
    height:400px;
    background: #eaf4f4;
}

.search-container .search-field{
    width: 800px;
    height: 30px;
    padding: 15px;
    margin: 0 auto;
}

.search-container .search-field #confirm-search{
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

.search-container .search-field #confirm-search p{
    line-height: 33px;
    font-size: 10pt;
}

.search-container .search-field #confirm-search:hover p{ 
    background: #232d41;
    color:white;
}

.search-container .search-field input{
    float: left;
    height: 30px;
    width: 760px;
    padding: 0px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}

.search-container .placeholder{
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6 ,auto);
    grid-auto-rows: 40px;
    justify-items: center;
    width: 800px;
    height: 310px;
    margin: 10px auto;
    background: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}