.content {
    width: 600px;
    margin: 50px auto;
}

#nav-block{
    width: 400px;
    overflow-y: auto;
    overflow: auto;
    transition: 1s;
    max-height: 450px;
    background: white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}
#nav-block ul{
    border-left: 1px solid;
    margin-left: 26px;
}

.nav-element{
    max-width: 500px;
    margin: 5px;
    padding-left: 10px;
    /* background-color: white; */
    transition: 1s;
    height: 50px;
    border-radius: 50px;
}
.nav-element:hover{
    background-color: rgb(35,45,65);
    color: white;
}
.nav-element>p{
    float: left;
    line-height: 50px;
    text-align: left;
/*     color: rgb(35,45,65); */
}
.nav-link{
    float: right;
    line-height: 50px;

    width: 50px;
    text-align: center;
}
#nav-btn-confirm {
    float: left;
    width: 500px;
    height: 50px;
    border: none;
}
#nav-btn-confirm p{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #367a53;
}

.root{
    /* height: 300px; */
    overflow: auto;
}

.tree-container{
    width: 850px;
    height: 500px;
    margin: 10px auto;
}



