<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fixer-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/history-style.css' %}">
    <script src= "{% static 'js/preload.js' %}"></script>
</head>
<body><div class="se-pre-con"></div>
<a href="{% url 'annotation_tool:workspace' pk=pk %}" class="openlink"  style="font-size:30px;cursor:pointer"><p>&#8617;</p></a>
<div class="content">
    {% if lines %}
        {% for line in lines %}
            <div class="block">
                <div><p>{{ line.objectOne }}</p></div>
                <div><p>{{ line.objectsConnection }}</p></div>
                <div><p>{{ line.objectTwo }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
</div>


</body>
</html>