{% extends "annotation_tool/window.html" %}
{% load tags %}

{% block content %}
<div class"item-info">
        <div class="item-current"><p>Текущий элемент:</p></div>
        {% autoescape off %}
        {{item}}
        {% endautoescape %}
      
        <div class="item-slaves">
            <div class="title" data-role="slaves">
                <p><span>Потомки</span></p>
            </div>
            <div class="dep-container">
                {% autoescape off %}
                {{ slaves }}
                {% endautoescape %}
            </div>
        </div>

        <div class="item-masters">
            <div class="title" data-role="masters">
                <p><span>Родители</span></p>
            </div>
            <div class="dep-container">
                {% autoescape off %}
                {{ masters }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock content %}







