{% extends "annotation_tool/window.html" %}
{% load tags %}

{% block content %}
<div class="create-container">
    <div class="select-container">
        <select class="model-select">
            <option value="Object">Объект</option>
            <option value="Class">Класс</option>
            <option value="Description">Описание</option>
            <option value="Image">Изображение(в разработке)</option>
            <option value="Audio">Аудио(в разработке)</option>
            <option value="Video">Видео(в разработке)</option>
        </select>
        <div id="create-pin"><p><i class="fas fa-save"></i></p></div>
    </div>
    <div class="input-container">
    </div>
</div>
{% endblock content %}