<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load widget_tweaks %}
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fixer-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload-style.css' %}">
    
    <script src= "{% static 'js/uploadFile.js' %}"></script>
</head>
<body>

    <div class="content">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% render_field form.file %}
            <button type="submit"><p><i class="fas fa-file-upload"></i></p></button>
        </form>
    </div>
    <div class="box">
			<div class="loader3"></div>
			<p>loader 3</p>
	</div>

    
<div id="wrapper">
   	  <div id="slider-wrap">
      	  <ul id="slider">
          	 <li data-color="#1abc9c" style="background: url('{% static 'images/test.png' %}')">
                <div>
                    <h3>Slide #1</h3>
                    <span>Sub-title #1</span>
                </div>                
             </li>
             
             <li data-color="#3498db">
                <div>
                    <h3>Slide #2</h3>
                    <span>Sub-title #2</span>
                </div>
                <i class="fa fa-gears"></i>
             </li> 
          </ul>
           <!--controls-->
          <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
          <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
          <div id="counter"></div>
          
          <div id="pagination-wrap">
            <ul>
            </ul>
          </div>
          <!--controls-->  
                 
      </div>
  
   </div>


</body>
</html>