{% extends "annotation_tool/windows/window.html" %}
{% load tags %}
{% block title %}Дерево классов{% endblock title %}
{% block content %}
<div class="tree-container">
{% load mptt_tags %}
<div id="nav-block">
    <ul class="root" id="example_tree" style="border:none">
        {% recursetree genres %}
            <li >
                <div class="nav-element">
                    <p>{{ node.name }}</p>
                        <div id="{{node.pk}}{{node|get_class}}"class="item" data-pk="{{node.pk}}" data-model="{{ node|get_class }}">
                            <p>Класс - {{ node.pk }}</p>
                            <div class="item-delete"><p><i class="fas fa-times"></i></p></div>
                            <div class="item-open"><p><i class="far fa-sticky-note"></i></p></div>
                            <div class="item-info">
                                <div class="content">
                                    <div class="label"><p>Название:</p></div>
                                    <div class="value"><p>{{ node.name }}</p></div>
                                </div>
                            </div>
                        </div>
                </div>
                {% if not node.is_leaf_node %}
                    <ul style="display: none">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
</div>
{% endblock content %}