<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fixer-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tree-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-style.css' %}">
    <script src= "{% static 'js/Tree.js' %}"></script>
    <script src= "{% static 'js/preload.js' %}"></script>
</head>
<body><div class="se-pre-con"></div>

<button id="open-nav">
    OPEN
</button>

<div id="side-class-info">
    <div class="container">
        <div><p>Название класса:</p></div>
        <div><p>example</p></div>
        <div><p>Атрибуты класса:</p></div>
        <div><p>example</p></div>
        <div><p>Объекты класса:</p></div>
        <div><p>example</p></div>

    </div>


</div>



</body>
</html>