.container{
    background: none;
    width: 500px;
    height: auto;
    overflow: auto;
    margin: 100px auto;
    background: white;
    border-radius: 25px;
    padding: 30px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}
.container form{
    background:none;
    margin: 10px 0px;
}
.container div.title, div.title-error{
    background: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #00bfa5;
    border-radius: 30px;
    color: white;
}
.container input{
    background: none;
    width: 380px;
    float: left;
    height: 30px;
    background: #ebebeb;
    margin: 5px;
    padding-left: 10px;
}
.container button{
    background: none;
    width: 225px;
    margin: 10px;
    height: 30px;
    border-radius: 30px;
    float: left;
}
.container .return{
    background: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #00bfa5;
    border-radius: 30px;
    color: white;
}
.container .return a{
    color: white;
}
.container button a{
    color: white;
}
.container button p{
    background: rgb(0,191,165);
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: white;
}
.container .label-holder{
    background: none;
    width: 90px;
    float: left;
    height: 30px;
    margin: 5px;
}
.container .label-holder label{
    background: none;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.container p.headline-error {
    padding: 10px;
}

.container .causes {
    padding: 7px 10px;
}
.container .causes p {
    padding: 5px;
}
.container .title-error {
    background: rgb(255,70,65);
}
.username-error {
    width: 500px;
    float: left;
    color: rgb(255,70,65);
    text-align: center;
    padding: 10px;
}
