{% load tags %}
{% if pin %}
<div id="{{item.pk}}{{item|get_class}}"class="item" data-pk="{{item.pk}}" data-model="{{ item|get_class }}">
    <p>Текст - {{ item.pk }}</p>
    <div class="item-delete"><p><i class="fas fa-times"></i></p></div>
    <div class="item-open"><p><i class="far fa-sticky-note"></i></p></div>
    <div class="item-info">
        <div class="content">
            <div class="label"><p>Название:</p></div>
            <div class="value"><p>{{ item.title }}</p></div>
            <div class="label"><p>Название на национальном языке:</p></div>
            <div class="value"><p>{{ item.title_origin }}</p></div>
            <div class="label"><p>Язык:</p></div>
            <div class="value"><p>{{ item.language }}</p></div>
            <div class="label"><p>Диалект:</p></div>
            <div class="value"><p>{{ item.dialect }}</p></div>
        </div>
    </div>
</div>
{% else %}
    <div class="pin-container">
        <p>Пин для манипулирования: </p>
        <div id="{{item.pk}}{{item|get_class}}"class="item" data-pk="{{item.pk}}" data-model="{{ item|get_class }}">
            <p>Текст - {{ item.pk }}</p>
            <div class="item-delete" style="display: none"><p><i class="fas fa-times"></i></p></div>
            <div class="item-open" style="display: none"><p><i class="far fa-sticky-note"></i></p></div>
            <div class="item-info">
                <div class="content">
                    <div class="label"><p>Название:</p></div>
                    <div class="value"><p>{{ item.title }}</p></div>
                    <div class="label"><p>Название на национальном языке:</p></div>
                    <div class="value"><p>{{ item.title_origin }}</p></div>
                    <div class="label"><p>Язык:</p></div>
                    <div class="value"><p>{{ item.language }}</p></div>
                    <div class="label"><p>Диалект:</p></div>
                    <div class="value"><p>{{ item.dialect }}</p></div>
                </div>
            </div>
        </div>
        </div>
{% endif %}



