{% load tags %}
{% load widget_tweaks %}
{% if pin %}
    <div id="{{item.pk}}{{item|get_class}}"class="item" data-pk="{{item.pk}}" data-model="{{ item|get_class }}">
        <p>Строка - </p><p>{{ item.position }}</p>
        <div class="item-delete"><p><i class="fas fa-times"></i></p></div>
        <div class="item-open"><p><i class="far fa-sticky-note"></i></p></div>
        <div class="item-info">
            <div class="content">
                <div class="label"><p>Содержится в блоке::</p></div>
                <div class="value"><p>{{ item.block.title }}</p></div>
                <div class="label"><p>Позиция:</p></div>
                <div class="value"><p>{{ item.position }}</p></div>
                <div class="label"><p>Оригинальный текст:</p></div>
                <div class="value"><p>{{ item.text_left }}</p></div>
                <div class="label"><p>Переведенный текст:</p></div>
                <div class="value"><p>{{ item.text_right }}</p></div>
            </div>
        </div>
    </div>
{% else %}
        <div class="pin-container">
            <p>Пин для манипулирования: </p>
            <div id="{{item.pk}}{{item|get_class}}"class="item" data-pk="{{item.pk}}" data-model="{{ item|get_class }}">
                <p>Строка - </p><p>{{ item.position }}</p>
                <div class="item-delete" style="display: none"><p><i class="fas fa-times"></i></p></div>
                <div class="item-open" style="display: none"><p><i class="far fa-sticky-note"></i></p></div>
                <div class="item-info">
                    <div class="content">
                        <div class="label"><p>Содержится в блоке::</p></div>
                        <div class="value"><p>{{ item.block.title }}</p></div>
                        <div class="label"><p>Позиция:</p></div>
                        <div class="value"><p>{{ item.position }}</p></div>
                        <div class="label"><p>Оригинальный текст:</p></div>
                        <div class="value"><p>{{ item.text_left }}</p></div>
                        <div class="label"><p>Переведенный текст:</p></div>
                        <div class="value"><p>{{ item.text_right }}</p></div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

