{% load tags %}
<div class="item-class" data-pk="{{item.pk}}" data-model="{{ item|get_class }}"><p style="width: 100px">Объект</p><p style="width: 800px">{{ item.name }}</p></div>
<div class="item-expand-info">
   <table class="item-info-table">
       <tr><td><div class="item-field" >
            <p style="width: 190px; color: rgb(36,51,60)">Оригинал:</p>
            <p data-callable="1" data-pk="{{item.pk}}" data-model="{{ item|get_class }}" style="width: 690px">
                Оригинал</p>
        </div></td></tr>
       <tr><td><div class="item-field" >
           <p style="width: 190px; color: rgb(36,51,60)">Название:</p>
           <p style="width: 690px">{{ item.name }}</p>
       </div></td></tr>
       <tr><td><div class="item-field" >
           <p style="width: 190px; color: rgb(36,51,60)">Класс:</p>
           <p data-callable="1" data-pk="{{item.linked_class.pk}}" data-model="{{ item.linked_class|get_class }}" style="width: 690px">{{ item.linked_class.name }}</p>
       </div></td></tr>
    </table>
</div>




